<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Facebook</string>
	<string>Twitter</string>
	<string>YouTube</string>
	<string>Pinterest</string>
	<string>Tumblr</string>
	<string>Flickr</string>
	<string>Snapchat</string>
	<string>Vine</string>
	<string>Instagram</string>
	<string>Soundcloud</string>
</array>
</plist>
